.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.about-us p {
    width: 60%;
    white-space: pre-line;
}